// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
/*@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "../../node_modules/font-awesome/scss/font-awesome";*/

/*.navbar {
    background-image: url("../../upload/back.jpg") ;
}*/


.dropcontent{
    position: absolute;
    transform: translate3d(0px, 48px, 0px);
    top: -49px;
    left: -49px;
    will-change: transform;

}
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.back-image {
    background: url("https://css-tricks.com/wp-content/uploads/2017/09/radial-gradient.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

.services {
    margin: 20px auto;
}

figure.snip1174 {
    color: #fff;
    position: relative;
    float: left;
    overflow: hidden;
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: left;
    margin: 10px;
    width: 100%;
    border-radius: 0px;
}

figure.snip1174 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

figure.snip1174 img {
    max-width: 100%;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    vertical-align: top;
    opacity: 0.7;
}

figure.snip1174 figcaption {
    position: absolute;
    padding: 40px 25px;
    top: 0;
    left: 0;
}

figure.snip1174 h2,
figure.snip1174 p {
    margin: 0;
    padding: 0;
}

figure.snip1174 h2 {
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 100;
    font-size: 1.8em;
}

figure.snip1174 p {
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.4em;
}

figure.snip1174 a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    opacity: 0;
}

figure.snip1174 a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

figure.snip1174.blue {
    background-color: #20638f;
}

figure.snip1174.yellow {
    background-color: #c87f0a;
}

figure.snip1174.green {
    background-color: #1e8449;
}

figure.snip1174.navy {
    background-color: #222f3d;
}

figure.snip1174.red {
    background-color: #962d22;
}

figure.snip1174:hover img,
figure.snip1174.hover img {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.snip1174:hover a,
figure.snip1174.hover a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}

figure.card:hover {
    box-shadow: 0 18px 18px 0 rgba(0,0,0,0.2);
}


/*.card-row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 780px;
    width: 100%;
    height: 500px;
}

.card {
    position: relative;
    background-color: #FFFFFF;
    height: 370px;
    width: 240px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.card-image {
    !* center horizontally overflown image *!
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;

    height: 220px;
    min-width: 100%;
}


.card-footer {
    position: absolute;
    bottom: 0;
    height: 130px;
    padding: 10px 15px;
    font-family: Helvetica;
}
.card-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}
.card-title {
    font-family: Serif;
}
.card-author {
    font-size: 14px;
    color: #BAB096;
}*/

/*.element {
    width: 100%;
    height: 100%;
    animation: pulse 5s infinite;
}
@keyframes pulse {
    0% {
        background-color:#1d643b;
    }
    100% {
        background-color:#454d55;
    }*/

.footer {
    position: inherit;
    left: 0;
    bottom: 10%;
    width: 100%;
    height: 6%;
    background-color: #1d643b;
    border-bottom-color: green;
    text-align: center;
}

.abcde {
    position: fixed;
    top: 85%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.abcde a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
.abcde a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.instagram {
    background: #dd4b39;
    color: white;
}
.services.card >figure.card:hover {
    box-shadow: 0 18px 18px 0 rgba(0,0,0,0.2);

}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

