<template>
    <div class="container col-md-12"
         style="background-image: url(https://i.pinimg.com/originals/24/d7/33/24d733ee28a71a2f9a96bc7dd390c2fa.jpg)">

        <div class="col-md-8">
            <img src="http://hauteliving.com/wp-content/uploads/2011/07/df437587db90dbed6a6150146d8c4a5c.jpg"
                 height="350" width="380">

            <div class="col-md-4" style="float: right">
                <p style="color:yellow">We've been out there delighting you with quality of dishes since 2010. And all
                    that time we've been
                    doing it the Bite Circle way, keeping true to the pioneering spirit of our founder. It means that
                    our quality today is as consistent as it has always been and that we will continue to serve you the
                    finest and tastiest dishes.</p>
            </div>
        </div>
        <div>
            <p style="color:yellow">Culinaria is a cozy restaurant in East Lawrence with a (sometimes) lively
                atmosphere.
                Located in one of Lawrence’s most historic buildings, Culinaria opened in 2010 as a customized catering
                company and private event space. After 8 years in the event’s industry, husband-and-wife owners, Aaron
                and Regan Pillar, decided to open a weekend restaurant, featuring foods they love, inspired by the
                spices and culinary aesthetic of the Mediterranean. Now open every Thursday, Friday and Saturday
                evening, Culinaria serves Mediterranean-inspired dinner selections, homemade sweets and fresh fruit
                cocktails along with wine pairings and craft beer. With flavorful, innovative food and a warm, friendly
                environment, the folks at Culinaria invite you to come in, relax and celebrate one of life’s greatest
                joys … the simple pleasure of eating and drinking.</p>

            <p style="color:yellow">foodgawker is a curated photo gallery that allows the visual search and discovery of
                new recipes,
                techniques and ingredients to inspire culinary adventures. we publish photography submitted by food
                bloggers from around the world. our editors review submissions daily and choose the highest quality,
                most appealing images to showcase.</p>


            <p style="color:yellow">By breakfast time we're open for business and greeting our first customers, pouring coffees as we serve
                hot piping pastries and freshly- made sandwiches and rolls. Despite our sometimes hectic schedule,
                there's nothing we enjoy more than taking the time to provide good old-fashioned service, and we're
                proud to say we know many of our customers by name.</p>
        </div>
    </div>
</template>
