<template>
    <form v-on:submit.prevent="submit()">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-info">
                            <i class="fa fa-phone" aria-hidden="true"> Call Us </i>
                            <br/>

                            <b>
                                +918077509683
                            </b>
                        </div>
                        <b> Or Send Us Your Query</b>

                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <label for="name" class="text-danger">Name</label>
            <input type="text" class="form-control" name="name" id="name"/>
        </div>

        <div class="form-group">
            <label for="email" class="text-danger">E-mail</label>
            <input type="email" class="form-control" name="email" id="email"/>
        </div>

        <div class="form-group">
            <label for="message" class="text-danger">Message</label>
            <textarea class="form-control" name="message" id="message" rows="5"></textarea>
        </div>


        <button type="submit" class="btn btn-danger">Send message</button>
        <br/>


    </form>


</template>

<script>
    import axios from "axios";

    export default {
        data() {
            return {
                fields: {},
                errors: {},
            }
        },
        methods: {
            submit() {
                this.errors = {};
                axios.post(base_url + '/contact', this.fields).then(response => {
                    alert('Message sent!');
                })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors || {};
                        }
                    });
            },
        },
        created() {
            this.getBaseUrl();
        }
    }
</script>
