<template>
    <div class="row">
        <div class="col-md-12 p-2">


            <div class="col-md-12" style="height: 80px; color: transparent!important;">
                <div class="form-check-inline md-form mr-auto mb-auto " style="float: right;">
                    <input class="form-control mr-sm-4" type="text" placeholder="Search" aria-label="Search"
                           @change="getItem()" v-model="keyword">
                    <button class="btn btn-outline-danger" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>

                <b-dropdown variant="link" size="lg" no-caret style="float: right; top: -8px;">
                    <template slot="button-content">
                        <img src="public/upload/dots.png" height="25px" width="25px"/></template>
                    <b-dropdown-item :href="base_url + '/get-dishes'" >Categories</b-dropdown-item>
                </b-dropdown>




            </div>

            <div class="row">


                <div class="col-md-4 col-sm-6 col-12 pt-3" style="top: -30px;" v-for="dish in menBar">
                    <div class="services col-md-12">
                        <div class="card btn-outline-danger" style="width:338px; height:380px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
                            <figure class="snip1174 navy card" style="width:316px; height:222px;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); ">
                                <img class="img-fluid p-2" :src="'public/upload/'+dish.image"
                                     style="width:318px; height:222px;"
                                     alt="Card image">
                                <figcaption>
                                    <div><a href="#">{{dish.categories_name}}</a></div>
                                </figcaption>
                            </figure>
                            <div class="card-body">
                                <div class="col-md-6"
                                     style=" float: left; font-family:'Comic Sans MS'; font-size: 20px;">{{
                                    dish.name}}
                                </div>
                                <div class="col-md-6"
                                     style=" float: left; font-family:'Comic Sans MS'; font-size: 20px; padding-left:65px">
                                    ₹{{dish.price}}/-
                                </div>
                                <div class="col-md-6" style="float: left"><input type="number" placeholder="Quantity"
                                                                                 class="form-control qty-box"
                                                                                 min="1"
                                                                                 max="10"
                                                                                 oninput="validity.valid||(value='')"
                                                                                 v-model='dish.quantity'/>
                                </div>
                                <div class="col-md-3" style="float: left">
                                    <div v-if="!dish.quantity"></div>
                                    <div class="badge badge-dark" v-if="dish.quantity">{{dish.quantity*dish.price}}
                                    </div>
                                </div>
                                <div class="tooltip col-md-3" style="float: right; padding-left:6px">
                                    <img src="public/upload/veg.png"
                                         style="width:20px; height:20px;">
                                    <span class="tooltiptext">Pure Vegetarian</span>

                                </div>
                                <div>
                                    <button style="margin-top: 5px;" @click="addCart(dish)"
                                            class="col-md-12 btn btn-dark btn-sm">Add to
                                        Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="main" id="section2">
                <section></section>
            </div>
            <div class="main">
                <section>
                    <h3 class="col-md-12 p-3 bg-light text-danger" style="border-radius: 500px;">Items In Cart</h3>
                    <table class=" col-md-12 table bg-light" style="border-radius: 10px;">
                        <br/>
                        <tr>
                            <td>Name</td>
                            <td>Description</td>
                            <td>Quantity</td>
                            <td>Price</td>
                            <td>Image</td>
                            <td>Edit</td>
                            <td>Delete</td>
                        </tr>
                        <tr v-for="(dish, key) in itemCart">
                            <td>{{dish.name}}</td>
                            <td>{{dish.description}}</td>
                            <td>{{dish.quantity}}</td>
                            <td>{{dish.quantity*dish.price}}/-</td>
                            <td><img class="img-fluid p-2" :src="'public/upload/'+dish.image"
                                     style="width:120px; height:80px;"></td>
                            <td><a href="#" data-toggle="modal" data-whatever="@getbootstrap"
                                   @click="editModal(dish, key)">
                                <i class="btn btn-xs far fa-edit"></i></a>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-danger" @click="deleteEvent(key)">X</button>
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
            <table class="table">
                <tbody>
                <tr v-for="dish in payCart">
                    <td>{{dish.id }}</td>
                    <td>{{dish.user_id}}</td>
                    <td>{{dish.status}}</td>
                    <td>{{dish.delivered_on}}</td>
                </tr>
                <!--<button class="btn btn-danger" style="margin-bottom: 30px"><a href="/pay" class="text-light">Proceed</a>
                </button>-->
                <button class="btn btn-danger" @click="goforpayment()" style="margin-bottom: 30px;">Continue</button>
                <button @click="placeOrder()" class="btn btn-danger" style="margin-bottom: 30px; margin-left: 950px">Proceed To Payment
                </button>
                </tbody>
            </table>
            <!--<pagination v-if="pagination.last_page > 1" :pagination="pagination" :offset="5"
                        @paginate="fetchPagi(url)"></pagination>
            <div class="pagination " style="margin-bottom: 300px;">
                <button class="btn btn-danger" v-on:click="fetchPagi(pagination.prev_page_url)"
                        :disabled="!pagination.prev_page_url">Previous
                </button>
                <span>Page {{pagination.current_page}} of {{pagination.last_page}}</span>
                <button class="btn btn-danger" v-on:click="fetchPagi(pagination.next_page_url)"
                        :disabled="!pagination.next_page_url">Next
                </button>-->
            </div>
            <div class="modal fade" id="exampleModal" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <label class="col-form-label">Please update your quantity</label>
                            <input type="number" class="form-control qty-box" min="1" max="10"
                                   oninput="validity.valid||(value='')" v-model="updatedContent.quantity"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" @click="save()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>

<script>
    export default {
        data: function () {
            return {
                cat: [],
                total: '',
                menBar: [],
                itemCart: [],
                payCart: [],
                kim: [],
                updatedContent: '',
                showModal: true,
                emptyCart: [],
                keyword: '',
                newItem: {
                    'name': '',
                    'image': '',
                    'price': ''
                },
                dishList: [],
                /*
                                url: '/api/users',
                */
                pagination: [],
            }
        },
        mounted() {
            console.log('Component mounted...');
            /*
                        this.getResults();
            */
        },
        created() {
            this.getItem();
        },
        methods: {
            addCart(dish) {
                if (dish.quantity == null) {
                    this.$swal('Minimum Quantity should be 1');
                } else {
                    axios.post(base_url + '/addtocart', {
                        dish: this.itemCart
                    }).then(function (response) {
                        that.$swal('Your order is placed successfully');
                        that.itemCart = response.emptyCart;
                    });
                    this.$swal('Added In your Cart');
                    this.itemCart.push(JSON.parse(JSON.stringify(dish)));
                }
            },
            deleteEvent(key) {
                this.$swal('Successfully deleted from Cart');
                this.itemCart.splice(key, 1);
            },
            editModal(dish, key) {
                $('#exampleModal').modal('show');
                console.log(dish, key);
                this.updatedContent = JSON.parse(JSON.stringify(dish));
                this.kim = key;
            },
            save() {
                console.log(this.updatedContent);
                console.log(this.kim);
                this.itemCart[this.kim].quantity = this.updatedContent.quantity;
                $('#exampleModal').modal('hide');
            },
            placeOrder() {
                console.log(this.itemCart);
                let that = this;
                if (!that.itemCart.length) {
                    this.$swal('Please Insert At-least 1 Item Into The Cart To Process Further');
                } else {
                    axios.post(base_url + '/place-order', {
                        dish: this.itemCart
                    }).then(function (response) {
                        that.$swal('Your order is placed successfully');
                        that.itemCart = response.emptyCart;
                    });
                }
            },
            goforpayment() {
                this.total = 0;
                for (let i = 0; i < this.itemCart.length; i++) {
                    this.total += (parseInt(this.itemCart[i].price) * parseInt(this.itemCart[i].quantity));
                }

                var options = {
                    key: "rzp_test_7txDGt9UznQQxe",
                    amount: this.total * 100,
                    name: 'Bite Circle',
                    description: 'Food item',
                    image: 'https://images.wallpaperscraft.com/image/neon_inscription_cafe_124281_1366x768.jpg',
                    handler: this.demoSuccessHandler
                }
                new Razorpay(options).open();

            },

            demoSuccessHandler(transaction) {
                console.log(transaction);
                // You can write success code here. If you want to store some data in database.
                // $("#paymentDetail").removeAttr('style');
                // $('#paymentID').text(transaction.razorpay_payment_id);
                // var paymentDate = new Date();
                // $('#paymentDate').text(
                //     padStart(paymentDate.getDate()) + '.' + padStart(paymentDate.getMonth() + 1) + '.' + paymentDate.getFullYear() + ' ' + padStart(paymentDate.getHours()) + ':' + padStart(paymentDate.getMinutes())
                // );
                //
                // $.ajax({
                //     method: 'post',
                //     url: "{!!route('dopayment')!!}",
                //     data: {
                //         "_token": "{{ csrf_token() }}",
                //         "razorpay_payment_id": transaction.razorpay_payment_id
                //     },
                //     complete: function (r) {
                //         console.log('complete');
                //         console.log(r);
                //     }
                // })
            },
            getItem() {
                let that = this;
                axios.post(base_url + '/get-dish', {'name': this.keyword}).then(function (response) {
                    that.menBar = response.data;
                });
            },
            getcat() {
                let that = this;
                axios.post(base_url + '/get-cat', {'name': this.keyword}).then(function (response) {
                    that.cat = response.data;
                });

            },
            // getshow(){
            //     let that = this;
            //     axios.post('/get-dishes'/5,{'name': this.keyword}).then(function (response)
            //         {
            //            that.cat = response.data;
            //         });
            //
            // },
            getResults() {
                let that = this;
                axios.get(this.url)
                    .then(response => {
                        this.dish = response.data.data;
                        that.pagination(response.data);
                    });
            },
            makePagination(data) {
                let pagination = {
                    current_page: data.current_page,
                    last_page: data.last_page,
                    next_page: data.next_page_url,
                    prev_page: data.prev_page_url,
                };
                this.pagination = pagination
            },
            fetchPagi() {
                this.url = url;
                this.getItem();
            }
        },
    }
</script>
