<template>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-dark">
                <thead>
                <tr>
                    <td>Dish-Name</td>

                    <td>Quantity</td>

                    <td>Price</td>

                    <td>Sub-Total</td>
                </tr>
                </thead>
                <tbody>

                <tr v-for="details in orderdetails">
                    <td>
                        {{details.dish_name}}
                    </td>
                    <td>
                        {{details.quantity}}
                    </td>
                    <td>
                        {{details.price}}
                    </td>
                    <td>
                        {{details.quantity*details.price}}
                    </td>
                </tr>
                <br/>
                <tr>
                    <td>Total Amount</td>
                    <td>{{totalAmount}}</td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>

</template>
<script>

    /*var global_amt = 0;*/
    export default {
        data: function () {
            return {
                orderdetails: [],
                totalAmount: 0
            }
        },
        created() {
            let url = document.URL;
            url = url.split('/');
            url = url[url.length - 1];
            let that = this;
            axios.get(base_url + '/get-lastorder/' + url).then(function (response) {
                that.orderdetails = response.data;
                let total = 0;
                for (let i = 0; i < response.data.length; i++) {
                    total += response.data[i].quantity * response.data[i].price;
                }
                that.totalAmount = total;
                /*global_amt =  total;*/
            });
        },

    }

</script>

