<!--<template>
<div class="container">
    <div class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-4'>
            <div class="form-horizontal" id="payment-form" role="form">
                <div class='row'>
                    <div class='col-xs-12 form-group card required'>
                        <label class='control-label'>Card Number</label>
                        <input autocomplete='off' class='form-control card-number' size='20' type='text' name="card_no">
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-4 form-group cvc required'>
                        <label class='control-label text-warning'>CVV</label>
                        <input autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='4' type='text' name="cvvNumber">
                    </div>
                    <div class='col-xs-4 form-group expiration required'>
                        <label class='control-label text-warning'>Expiration</label>
                        <input class='form-control card-expiry-month' placeholder='MM' size='4' type='text' name="ccExpiryMonth">
                    </div>
                    <div class='col-xs-4 form-group expiration required'>
                        <label class='control-label text-warning'>Year </label>
                        <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text' name="ccExpiryYear">
                        <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='hidden' name="amount" value="300">
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-12' style="margin-left:-10px;">
                        <div class='form-control total btn btn-primary' >
                            Total:
                            <span class='amount'></span>
                        </div>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='col-md-12 form-group'>
                        <table class="table">
                            <tbody>
                            <tr v-for="pay in paymentMode ">
                                <td>{{pay.cvv}}</td>
                                <td>{{pay.expiration}}</td>
                                <td>{{pay.year}}</td>
                                <td>{{pay.id }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <button class='form-control btn btn-success submit-button' type='submit' @click="placeOrder()">Pay »</button>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='col-md-12 error form-group hide'>
                        <div class='alert-danger alert'>
                            Please correct the errors and try again.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
    export default {
        data: function () {
            return {
                paymentMode: [],
                emptyCart: [],


            }
        },
        mounted() {
            console.log('Component mounted...');
        },
        created() {
        },
        methods: {

            placeOrder() {
                console.log(this.paymentMode);
                let that = this;
                if (!that.paymentMode.length) {
                    this.$swal('Please Insert At-least 1 Item Into The Cart To Process Further');
                } else {
                    axios.post('/payment', {
                        pay: this.paymentMode
                    }).then(function (response) {
                        that.$swal('Your order is placed successfully');
                        that.paymentMode = response.emptyCart;
                    });
                }
            },
        },


    }
</script>-->
<template>


</template>
