<template>
    <div class="row">
            <h3 class="col-md-12 p-3 bg-light text-danger " style="border-radius:500px; margin-top:15px;">Profile</h3>
            <div class="row">
                <div class="col-md-12">


    <div  class="card-body">
        <div class="row">
            <div class="col-md-3" v-if="image">
                <img :src="image" class="img-responsive" height="150" width="150" style="margin-bottom:20px;">
            </div>
            <div class="col-md-6" style="margin-bottom: 50px;">
                <input type="file" v-on:change="onImageChange" class="form-control">
            </div>
            <div class="col-md-3">
                <button class="btn btn-success btn-block" @click="uploadImage">Upload</button>
            <!--<div class="col-md-3">-->
                <!--<button class="btn btn-success btn-block" @click="uploadImage">Upload Image</button>-->
            <!--</div>-->
        </div>
    </div>

                        <div class="menu">
                            <ul class=" tabHolder nav nav-tabs " role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active text-danger" data-toggle="tab"
                                       href="#home">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-danger" data-toggle="tab" href="#menu1">Promotions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-danger" data-toggle="tab" href="#menu2">Settings</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div id="home" class="container tab-pane active">
                                    <br/>
                                    <button class="btn btn-danger" @click="lastorder()"> Last orders</button>
                                    <br/>
                                    <br/>
                                    <table class="table table-danger">

                                        <thead>
                                        <tr>
                                            <td>Order ID</td>
                                            <td>Status</td>
                                            <td>Total</td>
                                            <td>Delivered On</td>
                                            <td>Placed On Date and Time</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="order_details in payCart">
                                            <td><a :href="base_url + 'order-history/' + order_details.id">
                                                {{order_details.id}}</a>
                                            </td>
                                            <td>
                                                {{order_details.status}}
                                            </td>
                                            <td>
                                                {{totalAmount}}
                                            </td>
                                            <td>
                                                {{order_details.delivered_on}}
                                            </td>
                                            <td>
                                                {{order_details.created_at}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="menu1" class="container tab-pane fade"><br>
                                    <a href="#"><p>You have no promotion code now</p></a>
                                </div>
                                <div id="menu2" class="container tab-pane fade"><br>
                                    <h3>Sharan Anand</h3>
                                    <p>Mobile no : </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</template>
<script>
    export default {
        data: function () {
            return {
                image:'',
                file: '',
                payCart: [],
                orderdetails: [],
                totalAmount: '-',
            }
        },
        methods: {
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            uploadImage(){
                axios.post(base_url + '/image/store',{image: this.image}).then(response => {
                    if (response.data.success) {
                        alert(response.data.success);
                    }
                });
            },
            // onImageChange(e) {
            //     let files = e.target.files || e.dataTransfer.files;
            //     if (!files.length) {
            //         return;
            //     }
            //     this.file = files[0];
            //     this.submitFile();
            // },
            // submitFile() {
            //     let formData = new FormData();
            //     console.log(this.file);
            //     formData.append('file', this.file);
            //     axios.post('/profile_image',
            //         formData,
            //         {
            //             headers: {
            //                 'Content-Type': undefined
            //             }
            //         }
            //     ).then(function () {
            //         console.log('SUCCESS!!');
            //     })
            //         .catch(function () {
            //             console.log('FAILURE!!');
            //         });
            // },
            lastorder(){

                console.log('last order');
                let that = this;
                axios.get(base_url + '/get-order').then(function (response) {
                    that.payCart = response.data;
                });
            },

            /*created() {
                let url = document.URL;
                url = url.split('/');
                url = url[url.length - 1];
                let that = this;
                axios.get('/get-lastorder' + url).then(function (response) {
                    that.orderdetails = response.data;
                    let total = 0;
                    for (let i = 0; i < response.data.length; i++) {
                        total += response.data[i].quantity * response.data[i].price;
                    }
                    that.totalAmount = total;

                });

            },*/
        }
    }
</script>
